
.wrapper {
    display: contents;
    place-items: center;
    max-width: 100%;
  }
  
  .typing {
    width: 35ch;
    animation: typing 3s steps(25), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 3.5vw;
    color:#000;
  }
  
  @media (max-width: 800px) {
    .typing {width: 35ch;
            animation: typing 3s steps(25), blink .5s step-end infinite alternate;
            white-space: nowrap;
            border-right: 3px solid;
            font-family: monospace;
            font-size: 4.5vw;
            color:#000;
    }
  }
  
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  .desc {
    font-size: 1.5vw;
    color:#000;
  }
  .dark .desc {
    color: #f8f8f4;
  }

  .center-but {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .desc {
    font-size: 3.5vw;
    color:#000;
  }
  
}

.img {
  
  border-radius: 10px;

}

@media (max-width: 800px) {
  .img {
    size: 1vh;
    border-radius: 10px;
    margin-top: 20px;
  }
}
  